<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootstrap-4.0.0/dist/css/bootstrap.css">

    <title>Hello, world!</title>
  </head>
  <body>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <div class="row" style="height:50px"></div>
    <div class="row" style="height:150px">
        <div class="col-md-12 text-center">
            <h1 style="color:#2F2F6D">HÉRCULES</h1>
        </div>
 
    </div>
    <div class="row" style="height: 200px;">
        <div class="col-md-12 text-center">
            <img  src="../Views/herculeslogo.PNG" class="img-circle" alt="Chania" style="max-width: 50%;max-height: 50%">
        </div> 
    </div>
    
    <div class="container ">
        <div class="row">
            <div class="col-md-12 text-center "> 
                <button type="button" class="btn btn-log btn-lg btn-block">INGRESAR</button>  
            </div>  
        </div>
        <div class="row" style="margin-top: 5%">
                <div class="col-md-12 text-center"> 
                <button type="button" class="btn btn-log btn-lg btn-block">REGISTRARSE</button>    
                </div>  
        </div>
    </div>
    
      
  </body>
</html>